/*

.table-and-details-container {
    display: flex;
  }

  .table-container {
    flex: 1;
    margin-right: 20px;
  }

  .details-container {
    width: 300px;
  }
  */

.btn-margin {
  margin-right: 2px;
}
