<div *ngIf="evaluaciones.length > 0; else noSolicitudes">
  <h2>Listado de solicitudes:</h2>
  <ul>
    <li *ngFor="let solicitud of evaluaciones">
      <!-- Aquí puedes mostrar los detalles de cada solicitud -->
      <p>Nombre: {{ solicitud.data.nombre }}</p>
      <p>Apellido: {{ solicitud.data.apellido }}</p>
      <p>Edad: {{ solicitud.data.edad }}</p>
      <!-- Agrega aquí más detalles según la estructura de tus datos -->
    </li>
  </ul>
</div>

<ng-template #noSolicitudes>
  <p>No hay solicitudes disponibles.</p>
</ng-template>
