<div *ngIf="evaluaciones.length > 0; else noEvaluaciones"> <!--Verificacion de las evaluaciones en una tabla-->
  <h2>Listado de evaluaciones:</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre y Apellido</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let evaluacion of evaluaciones">
      <td>{{ evaluacion.data.usuario.nombre }}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="aceptarSolicitud(evaluacion.data.usuario.id, evaluacion.data.usuario.correo)">Aceptar</button>
        <button type="button" class="btn btn-danger" (click)="rechazarSolicitud(evaluacion.data.usuario.id, evaluacion.data.usuario.correo)">Rechazar</button>
        <button type="button" class="btn btn-primary" (click)="verInfoEvaluacion(evaluacion)">Ver Info</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noEvaluaciones>
  <p>No hay solicitudes disponibles.</p>
</ng-template>
