
.modal-container.modal-lg .modal-content-wide {
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.custom-modal-width {
  width: 800px; 
  margin: 10px;
}
.modal-content-wide .btn {
  display: block; 
  margin-left: auto;
  margin-right: auto;
}



