<div class="container modal-container modal-lg">
  <div class="modal-content-wide">
    <h2 class="text-primary">Detalles del Formulario</h2>

    <div class="row">
      <!-- Sección: Información Personal -->
      <div class="col-md-6">
        <div class="section-container border-bottom pb-3">
          <h3 class="text-info">Información Personal:</h3>
          <p><strong>Cédula:</strong> {{ data.cedula }}</p>
          <p><strong>Nombre:</strong> {{ data.name }}</p>
          <p><strong>Fecha de Nacimiento:</strong> {{ data.fecha_nacimiento }}</p>
          <p><strong>Género:</strong> {{ data.genero }}</p>
          <p><strong>Teléfono:</strong> {{ data.telefono }}</p>
          <p><strong>Email:</strong> {{ data.email }}</p>
          <p><strong>Dirección:</strong> {{ data.direccion }}</p>
          <p><strong>País de Residencia:</strong> {{ data.paisresidencia }}</p>
          <!-- Otros campos de información personal -->
        </div>
      </div>

      <!-- Sección: Información Académica -->
      <div class="col-md-6">
        <h3 class="text-info">Información Académica:</h3>
        <p><strong>Nivel Educativo:</strong> {{ data.nivelEducativo }}</p>
        <p><strong>Carrera:</strong> {{ data.carrera }}</p>
      </div>
            <!-- Sección: Financiera -->

      <div  class="col-md-6">
        <h3 class="text-info">Información Financiera:</h3>
        <p><strong>Ingresos Familiares:</strong> {{ data.ingresos_familiares }}</p>
          <p><strong>Gastos Actuales:</strong> {{ data.Gastos_actuales }}</p>

      </div>
      <!-- Sección: Objetivos -->
      <div class="col-md-6">
        <h3 class="text-info">Objetivos:</h3>
        <p><strong>Objetivos:</strong> {{ data.objetivos }}</p>
      </div>
    </div>

    <!-- Botón de Cerrar -->
    <button class="btn btn-primary mt-3 centered-btn" (click)="onNoClick()">Cerrar</button>
  </div>
</div>
