<div class="container">

    <header style="background-color: #FFA500; padding: 5px; display: flex; align-items: center;">
        <div style="display: flex; flex-direction: column; align-items: center; margin-right: 150px;">
            <img class="logo"
                src="https://th.bing.com/th/id/R.b35215bb3be3ed577c5cea7d96d033c1?rik=KB4tsKSJKfVhkQ&pid=ImgRaw&r=0"
                alt="Logo de tu aplicación" style="width: 80px; height: auto; margin-bottom: 5px; margin-left: 70px; ">
            <h1 style="color: white; font-size: 16px; margin-left: 90px; margin-left: 80px;">DevSpace MKJJ</h1>
        </div>
        <div>
            <h1 class="encabezado-formulario" style="font-weight: bold; font-size: 30px; color: rgb(34, 33, 33);">
                INSCRIPCIÓN PARA BECA DEL CURSO DE PROGRAMACIÓN</h1>
        </div>
    </header>



    <form [formGroup]="form" (ngSubmit)="save($event)" class="container mt-5 contenedor-formulario">
        <div class="row">

            <div class="col-md-6">
                <label for="fecha_nacimiento" class="form-label" style="font-weight: bold; font-size: 20px;"> <img
                        src="https://cdn-icons-png.flaticon.com/512/3076/3076404.png" width="25px" height="25px" alt="">
                    Información personal</label>

                     <!-- Cedula -->
                     <div class="mb-3">
                       
                        <label for="name" class="form-label">Cedula*:</label>
                        <input class="form-control" placeholder="CEDULA" formControlName="cedula" (blur)="validarCedulaEcuatoriana()">
                        <small *ngIf="form.get('cedula')?.hasError('required') && form.get('cedula')?.touched" class="text-danger">
                          El campo es obligatorio
                        </small>
                        <small *ngIf="form.get('cedula')?.hasError('minlength')" class="text-danger">
                          Mínimo 3 caracteres requeridos
                        </small>
                        <small *ngIf="form.get('cedula')?.hasError('maxlength')" class="text-danger">
                          Máximo 10 caracteres permitidos
                        </small>
                        <small *ngIf="form.get('cedula')?.hasError('cedulaInvalida')" class="text-danger">
                            Cédula inválida
                          </small>
                      </div>


                <div class="mb-3">
                    <label for="name" class="form-label">Nombres y Apellidos*:</label>
                    <input type="text" formControlName="name" id="name" class="form-control"
                        (keypress)="valideInputText($event)">
                    <small *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched"
                        class="text-danger">
                        El campo es obligatorio
                    </small>
                    <small *ngIf="form.get('name')?.hasError('minlength')" class="text-danger">
                        Mínimo 3 caracteres requeridos
                    </small>
                    <small *ngIf="form.get('name')?.hasError('maxlength')" class="text-danger">
                        Máximo 100 caracteres permitidos
                    </small>
                </div>


                <!-- Fecha de Nacimiento -->
                <div class="mb-3">
                    <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento*:</label>
                    <input type="date" formControlName="fecha_nacimiento" id="fecha_nacimiento" class="form-control">
                    <small
                        *ngIf="form.get('fecha_nacimiento')?.hasError('required') && form.get('fecha_nacimiento')?.touched"
                        class="text-danger">
                        El campo es obligatorio
                    </small>
                </div>

                <!-- Género -->
                <div class="mb-3">
                    <label class="form-label">Género*:</label> <br>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="genero" formControlName="genero" value="male" class="form-check-input"
                            p>
                        <label class="form-check-label">Hombre</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="genero" formControlName="genero" value="female"
                            class="form-check-input">
                        <label class="form-check-label">Mujer</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="genero" formControlName="genero" class="form-check-input">
                        <label class="form-check-label">Otro</label>
                    </div>
                    <small *ngIf="form.get('genero')?.hasError('required') && form.get('genero')?.touched"
                        class="text-danger">
                        El campo es obligatorio
                    </small>
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email*:</label>
                    <input type="email" formControlName="email" id="email" class="form-control">
                    <small *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched"
                        class="text-danger">
                        El campo es obligatorio
                    </small>
                    <small *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched"
                        class="text-danger">
                        El formato de correo electrónico es incorrecto
                    </small>
                </div>

                <!-- Teléfono -->
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono*:</label>
                    <input type="tel" formControlName="telefono" id="telefono" class="form-control"
                        (keypress)="validInputNumber($event)">
                    <small *ngIf="form.get('telefono')?.hasError('required') && form.get('telefono')?.touched"
                        class="text-danger">
                        El campo es obligatorio
                    </small>
                    <small *ngIf="form.get('telefono')?.hasError('pattern') && form.get('telefono')?.touched"
                        class="text-danger">
                        Ingresa un número de teléfono válido
                    </small>
                    <small *ngIf="form.get('telefono')?.hasError('maxlength')" class="text-danger">
                        Máximo 10 caracteres permitidos
                    </small>
                </div>



                <!-- Dirección -->
                <div class="mb-3">
                    <label for="paisresidencia" class="form-label">Pais de residencia*:</label>
                    <input type="text" formControlName="paisresidencia" id="paisresidencia" class="form-control">
                    <small
                        *ngIf="form.get('paisresidencia')?.hasError('required') && form.get('paisresidencia')?.touched"
                        class="text-danger">
                        El campo es obligatorio
                    </small>

                    <small *ngIf="form.get('paisresidencia')?.hasError('minlength')" class="text-danger">
                        Mínimo 3 caracteres requeridos
                    </small>
                    <small *ngIf="form.get('paisresidencia')?.hasError('maxlength')" class="text-danger">
                        Máximo 100 caracteres permitidos
                    </small>
                </div>


                <!-- Dirección -->
                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección*:</label>
                    <input type="text" formControlName="direccion" id="direccion" class="form-control">
                    <small *ngIf="form.get('direccion')?.hasError('required') && form.get('direccion')?.touched"
                        class="text-danger">
                        El campo es obligatorio
                    </small>
                    <small *ngIf="form.get('direccion')?.hasError('minlength')" class="text-danger">
                        Mínimo 3 caracteres requeridos
                    </small>
                    <small *ngIf="form.get('direccion')?.hasError('maxlength')" class="text-danger">
                        Máximo 100 caracteres permitidos
                    </small>
                </div>
            </div>



            <div class="col-md-6">
                <!-- Columna derecha del formulario -->
                <label for="fecha_nacimiento" class="form-label" style="font-weight: bold; font-size: 20px;"> <img
                        src="https://cdn-icons-png.flaticon.com/512/4207/4207253.png" width="25px" height="25px" alt="">
                    Información académica</label>
                <!-- Carrera -->
                <div class="mb-3">
                    <label for="carrera" class="form-label">Carrera o programa de estudios*:</label>
                    <input type="text" formControlName="carrera" id="carrera" class="form-control"
                        (keypress)="valideInputText($event)">
                    <small *ngIf="form.get('carrera')?.hasError('required') && form.get('carrera')?.touched"
                        class="text-danger">
                        El campo es obligatorio
                    </small>
                    <small *ngIf="form.get('carrera')?.hasError('minlength')" class="text-danger">
                        Mínimo 3 caracteres requeridos
                    </small>
                    <small *ngIf="form.get('carrera')?.hasError('maxlength')" class="text-danger">
                        Máximo 100 caracteres permitidos
                    </small>

                </div>

                <div class="mb-3">
                    <label for="nivelEducativo" class="form-label">Nivel Educativo Actual*:</label>
                    <select formControlName="nivelEducativo" id="nivelEducativo" class="form-select">
                        <option value="" disabled selected>Selecciona el nivel educativo</option>
                        <option value="bachillerato">Bachillerato</option>
                        <option value="universidad">Universidad</option>
                        <option value="posgrado">Posgrado</option>
                        <!-- Agrega más opciones según sea necesario -->
                    </select>
                    <small
                        *ngIf="form.get('nivelEducativo')?.hasError('required') && form.get('nivelEducativo')?.touched"
                        class="text-danger">
                        El campo es obligatorio
                    </small>
                </div>
                <label for="fecha_nacimiento" class="form-label" style="font-weight: bold; font-size: 20px;"> <img
                        src="https://cdn-icons-png.flaticon.com/512/2643/2643279.png" width="25px" height="25px" alt="">
                    Información financiera</label>
                <!-- Ingresos Familiares -->
                <div class="mb-3">
                    <label for="ingresos_familiares" class="form-label">Ingresos del hogar(mensual)*:</label>
                    <input type="text" formControlName="ingresos_familiares" id="ingresos_familiares"
                        class="form-control" (keypress)="validInputNumber($event)">
                    <small
                        *ngIf="form.get('ingresos_familiares')?.hasError('required') && form.get('ingresos_familiares')?.touched"
                        class="text-danger">
                        El campo es obligatorio
                    </small>

                </div>

                <!-- Gastos Actuales -->

                <div class="mb-3">
                    <label for="Gastos_actuales" class="form-label">Otras fuentes de financiamiento*:</label>
                    <select formControlName="Gastos_actuales" id="Gastos_actuales" class="form-select">
                        <option value="" disabled selected>Selecciona</option>
                        <option value="beca">Becas</option>
                        <option value="prestamo">Préstamos</option>
                        <option value="ninguno">Ninguno</option>
                        <!-- Agrega más opciones según sea necesario -->
                    </select>
                    <small
                        *ngIf="form.get('Gastos_actuales')?.hasError('required') && form.get('Gastos_actuales')?.touched"
                        class="text-danger">
                        El campo es obligatorio
                    </small>
                </div>


                <label for="fecha_nacimiento" class="form-label" style="font-weight: bold; font-size: 20px;"> <img
                        src="https://cdn-icons-png.flaticon.com/512/4029/4029275.png" width="25px" height="25px" alt="">
                    Objetivos de aprendizaje</label>
                <div class="mb-3">

                    <textarea cols="25" rows="5" formControlName="objetivos" id="objetivos" class="form-control"
                        placeholder="¿Cómo la beca contribuirá a alcanzar esos objetivos?"></textarea>
                    <small *ngIf="form.get('objetivos')?.hasError('required') && form.get('objetivos')?.touched"
                        class="text-danger">
                        El campo es obligatorio
                    </small>

                    <small *ngIf="form.get('objetivos')?.hasError('minlength')" class="text-danger">
                        Mínimo 10 caracteres requeridos
                    </small>
                    <small *ngIf="form.get('objetivos')?.hasError('maxlength')" class="text-danger">
                        Máximo 1000 caracteres permitidos
                    </small>
                </div>
            </div>
                    <!-- Campo de aceptación de términos centrado -->
                    <div class="mb-3 text-center">
                        <label class="form-check-label">
                            Acepto los términos y condiciones*
                        </label>
                        <input type="checkbox" class="form-check-input" formControlName="terminos">
                        <br> 
                        <small *ngIf="form.get('terminos')?.hasError('required') && form.touched"
                            class="text-danger">
                            {{ form.get('terminos')?.hasError('required') && form.touched ? 'Debe aceptar los términos y condiciones' : '' }}
                        </small>
                    </div>


        </div>
        <div class="row">
            <!-- Captcha y botón -->
            <div class="col-md-12 mt-3">
                <div class="contenedor_capcha">
                    <div class="capcha">
                       
                       

                        <div class="custom-center-style">
                            <re-captcha (resolved)="resolved($event)"
                                siteKey="6LdXWWcmAAAAAEBzP7kGaFJvNOUw6wJL7RGc6o4e"></re-captcha>
                        </div>
                    </div>
                </div>
                <div *ngIf="mostrarMensajeTemporal" [class.mensaje-temporal]="true"
                    [class.oculto]="!mostrarMensajeTemporal">
                    Datos guardados correctamente
                </div>
            </div>
            <div class="col-md-12 mt-3 text-center">
                <div class="mb-3">
                    <button [disabled]="form.invalid || !captchaValid" type="submit"
                        class="btn btn-primary btn-orange text-center">ENVIAR</button>
                </div>
            </div>
        </div>
    </form>
</div>
