body {
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
.custom-center-style {
    text-align: center;
    display: flex;
    justify-content: center
  }
  

/* Estilos iniciales para los campos */
input, select, textarea {
  border: 2px solid #FFA500;
  transition: border-color 0.3s ease-in-out;
}

/* Estilos cuando el campo está enfocado (focus) */
input:focus, select:focus, textarea:focus {
  border-color: #ecdede; /* Color naranja */
}

  .encabezado-formulario {
    background-color: #FFA500;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .contenedor-formulario {
    width: 100%; /* Establecer el ancho del contenedor del formulario al 100% */
  }


  header {
    background-color: rgba(255, 165, 0, 0.8);
    padding: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s ease; /* Agregamos una transición para suavizar el cambio de color */
  }

  /* Estilo cuando el encabezado está fijo en la parte superior */
  header.fixed {
    position: fixed;
  }

  /* Agrega un margen superior al formulario para evitar el solapamiento */
  form {
    margin-top: 80px; /* Ajusta el valor según sea necesario para evitar el solapamiento */
  }
/* Agrega estos estilos a tu archivo de estilos CSS o SCSS */
.mensaje-temporal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFA500;
  color: white;
  padding: 50px; /* Ajusta el padding según tu preferencia */
  border-radius: 8px; /* Ajusta el radio de borde según tu preferencia */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Asegura que esté sobre otros elementos */
  font-size: 16px; /* Ajusta el tamaño de la fuente según tu preferencia */
  transition: opacity 0.5s ease-in-out; /* Agrega una transición de opacidad */
}
 /* estilos de los mensajes de confirmacion */
.mensaje-temporal.oculto {
  opacity: 0;
  pointer-events: none; /* Evita interacciones con el mensaje oculto */
}
/* Add this style in your CSS file or component styles */
.btn-orange {
  background-color: orange;
  border-color: orange;
  color: rgb(15, 12, 12); /* Set text color to white or another contrasting color */
}

.btn-orange:hover {
  background-color: darkorange; /* Change hover color if desired */
  border-color: darkorange;
}
