body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-image: url('https://files.merca20.com/uploads/2017/07/programacion.jpg'); /* Cambia 'ruta-de-la-imagen.jpg' por la ruta de tu imagen */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  margin-left: 250px;
  margin-right: 250px;
}

.ad-container {
  background-color: rgba(255, 255, 255, 0.8); /* Color de fondo con opacidad para resaltar el contenido */
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del contenedor */
  text-align: center;
  max-width: 900px; /* Ancho máximo del contenedor */
  margin: 20px auto; /* Centrar el contenedor en la página */
}

h1 {
  color: #FFA500; /* Color del texto para el título */
  font-size: 30px;
  margin-bottom: 20px;
}
b{
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  color: #333; /* Color del texto para el párrafo */
  font-size: 20px;
  margin-bottom: 15px;
}

img {
  max-width: 100%; /* Asegurar que la imagen no se extienda más allá del contenedor */
  height: auto; /* Permitir que la altura se ajuste automáticamente */
  border-radius: 10px; /* Bordes redondeados para la imagen */
  margin-bottom: 20px;
}

.btn {
  background-color: #052241; /* Color de fondo para el botón */
  color: #fff; /* Color del texto para el botón */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

.btn:hover {
  background-color: #1b1747; /* Color de fondo del botón al pasar el cursor */
}