<body>
  <div class="ad-container">
    <h1>¡Consigue una Beca para Nuestro Curso de Programación en DevSpace MKJJ!</h1>
    <p>💡Aprende programación con los mejores instructores y aprovecha esta oportunidad única.</p>
    <p>Nuestro curso de programación te proporcionará las habilidades y conocimientos necesarios para destacarte en el
      mundo de la tecnología.💻</p>
    <p>No pierdas esta oportunidad de convertirte en un experto en programación.</p><br>
    <b>⭐️¡Aplica ahora y asegura tu lugar!⭐️</b>
    <br><br>
    <div>
      <img src="https://th.bing.com/th/id/R.e1e588f889429167a278e6d3f22fe458?rik=oF81cIg6Ug52%2fg&pid=ImgRaw&r=0"
        alt="">
    </div>
    <div>
      <a href="usuario/formularioUser" class="btn">Aplica Ya</a>
    </div>
  </div>
</body>