<div *ngIf="solicitudes.length > 0; else noSolicitudes">
  <h2>Listado de solicitudes</h2>
  <table class="custom-table">
    <thead>
    <tr>
      <th>#</th>
      <th>Nombre y Apellido</th>
      <th>Cédula</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Correo</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let solicitud of solicitudes; let i = index">
      <td scope="row">{{ i + 1}}</td>
      <td>{{ solicitud.data.name }}</td>
      <td>{{ solicitud.data.cedula }}</td>
      <td>{{ solicitud.data.direccion }}</td>
      <td>{{ solicitud.data.telefono }}</td>
      <td>{{ solicitud.data.email }}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="aceptarSolicitud(solicitud.id, solicitud.data.email)">Aceptar</button>
        <button type="button" class="btn btn-danger" (click)="rechazarSolicitud(solicitud.id, solicitud.data.email)">Rechazar</button>
        <button type="button" class="btn btn-primary" (click)="verInfoFormulario(solicitud.data)">Ver Info</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noSolicitudes>
  <p>No hay solicitudes disponibles.</p>
</ng-template>
