<div *ngIf="solicitudes.length > 0; else noSolicitudes">
  <h2>Listado de solicitudes</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre y Apellido</th>
        <th>Cédula</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Fecha de Nacimiento</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of solicitudes">
        <td>{{ solicitud.data.name }}</td>
        <td>{{ solicitud.data.cedula }}</td>
        <td>{{ solicitud.data.direccion }}</td>
        <td>{{ solicitud.data.telefono }}</td>
        <td>{{ solicitud.data.email }}</td>
        <td>{{ solicitud.data.fecha_nacimiento }}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="aceptarSolicitud(solicitud.id, solicitud.data.email)">Aceptar</button>
          <button type="button" class="btn btn-danger" (click)="rechazarSolicitud(solicitud.id, solicitud.data.email)">Rechazar</button>
          <button type="button" class="btn btn-primary" (click)="verInfoFormulario(solicitud.data)">Ver Info</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noSolicitudes>
  <p>No hay solicitudes disponibles.</p>
</ng-template>
