
.btn-margin {
    margin-right: 2px;
  }
  .btn-sm {
    padding: 5px 10px;
  }
  .btn-sm {
    margin-right: 5px;
  }
  .btn-sm:last-child {
    margin-right: 0;
  }
.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.custom-table th {
  background-color: #343a40;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.custom-table td, .custom-table th {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd; /* Add border for cells */
}

.custom-table button {
  margin-right: 5px;
}


