<div class="dashboard-container">
  <aside class="sidebar">
    <div class="sidebar-content">
      <div class="logo-container">
        <img src="https://th.bing.com/th/id/R.b35215bb3be3ed577c5cea7d96d033c1?rik=KB4tsKSJKfVhkQ&pid=ImgRaw&r=0" alt="Logo de tu aplicación">
        <div class="logo-text">DevSpace MKJJ
        </div>
      </div>
      <div class="divider"></div>
      <ul class="list-unstyled">
        <li>
          <a class="text-white" routerLink="./formulario" (click)="cambiarEnlaceActivo('./formulario')" [class.active]="enlaceActivo === './formulario'">
          📝<span class="link-text">Formulario</span>
          </a>
        </li>
        <li>
          <a class="text-white" routerLink="./evaluacion" (click)="cambiarEnlaceActivo('./evaluacion')" [class.active]="enlaceActivo === './evaluacion'">
          📊<span class="link-text">Evaluación</span>
          </a>
        </li>        
      </ul>
    </div>
  </aside>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>